Assembly-CSharp.dll
Assembly-CSharp-firstpass.dll
Changelog.txt
ICSharpCode.SharpZipLib.dll
KerbalMultiPlayer.dll
KMPServerConfig.txt
KMPServer.exe
KMPServer.log
libsqlite3.so.0
LICENSE.txt
README.txt
sqlite3.dll
SQLite.Interop.dll
System.Data.SQLite.dll
UnityEngine.dll
